@import 'variable';

.header {
  width: 100%;
  box-sizing: border-box;
  padding: $padding320px;
  border-bottom: 1px solid $borderTopBlock;
  background-color: $bgHeadlineColor;

  .header__menu-btn {
    margin-right: 15px;
  }

  .header__logo {
    display: flex;
    align-items: center;
  }

  .header__btns {
    align-items: center;
    margin-left: auto;

    .header__another-btn {
      height: 40px;
    }

    .header__btn:first-child {
      margin-right: 15px;
    }
  }

  .header__connection-btn {
    margin-right: 15px;
  }

}

.header-desktop {
  background-color: $bgMainColor;

  .header-desktop__another-btn {
    display: flex;
    margin-left: auto;
    align-items: center;


    .header-desktop__wrapper-btn {
      display: flex;
      padding: 0;
      align-items: center;
      .header-desktop__btn {
        margin-left: 8px;
      }
    }

    .header-desktop__wrapper-btn:first-child {
      margin-right: 32px;
    }
  }
}


@media screen and (max-width: 767px) {

  .header {
    .header__connection-btn {
      display: none;
    }
    .header__logo:after {
      display: block;
      content: "";
      height: 32px;
      width: 2px;
      background-color: #eaeaea;
      margin-left: 15px;
      border-radius: 5px;
    }
  }

}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header {
    padding: $padding768px;

    .header__logo:after {
      display: none;
    }

    .header__logo:before {
      display: block;
      content: "";
      height: 32px;
      width: 2px;
      margin-right: 15px;
      background-color: #eaeaea;
      border-radius: 5px;
    }

    .header__connection-btn:after {
      display: block;
      content: "";
      height: 32px;
      width: 2px;
      background-color: #eaeaea;
      border-radius: 5px;
    }
  }
}


@media screen and (max-width: 1439px) {
  .header-desktop {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    display: none;
  }

  .header-desktop {
    padding: $padding1440px;
  }
}
