@import "variable";

.popup-feedback {
  top: 0;
  right: 0;

  .popup-feedback__header {
    margin-bottom: 24px;
  }

}


@media screen and (min-width: 768px) {

  .popup-feedback {
    width: 440px;

    .popup-feedback__header {
      display: flex;

      position: relative;

      .popup-feedback__btn {
        left: -82px;
        position: absolute;
      }
    }
  }



  .content-opacity {
    opacity: 0.1;
  }
}


