@import "variable";

.popup-menu {
  top: 0;
  left: 0;
  background-color: $bgHeadlineColor;

  .popup-menu__link {
    color: $mainTextColor;
  }

  .popup-menu__header {

    .popup-menu__btn:first-child {
      margin-right: 15px;
    }

    .popup-menu__btn:last-child {
      margin-left: auto;
    }
  }

  .popup-menu__nav {
    margin-top: 45px;

    .popup-menu__list {
      .popup-menu__item {
        display: flex;
        align-items: center;
        position: relative;
      }

      .popup-menu__item__active {
        position: relative;
      }

      .popup-menu__item:before {
        display: block;
        content: "";

        height: 0;
        width: 0;
        background-color: #41f6d7;
        border-radius: 20px;

        position: absolute;

        transition-duration: 500ms;
      }

      .popup-menu__item__active:before,
      .popup-menu__item:hover:before {
        display: block;
        content: "";

        height: 32px;
        width: 4px;
        background-color: #41f6d7;
        border-radius: 20px;

        position: absolute;
      }

      .popup-menu__item:not(:last-child) {
        margin-bottom: 35px;
      }

    }
  }


  .popup-menu__footer {
    position: absolute;
    bottom: 0;

    .popup-menu__connection-btn {
      margin-bottom: 15px;
    }

    .popup-menu__contact {
      margin-bottom: 40px;

      .contact__phone {
        margin-top: 12px;
      }
    }

    .footer__list-lang {
      display: flex;

      .list-lang__link:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .phone {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.6px;
  }

}


@media screen and (min-width: 768px) {

  .popup-menu {
    width: 320px;
  }

}

@media screen and (max-width: 767px) {

  .popup-menu {
    .popup-menu__list {
      .popup-menu__item:before,
      .popup-menu__item__active:before,
      .popup-menu__item:hover:before {

        left: -16px;
      }
    }

  }

}

@media screen and (min-width: 768px) and (max-width: 1439px) {

  .popup-menu {
    .popup-menu__list {
      .popup-menu__item:before,
      .popup-menu__item__active:before,
      .popup-menu__item:hover:before {

        left: -24px;
      }
    }

  }

}

@media screen and (min-width: 1440px) {

  .popup-menu {
    .popup-menu__list {
      .popup-menu__item:before,
      .popup-menu__item__active:before,
      .popup-menu__item:hover:before {

        left: -30px;
      }
    }

  }

}
