
$mainTextColor: #1B1C21;
$titleColor: #7E7E82;

$bgMainColor: #F8F8F8;
$bgHeadlineColor: #FFFFFF;

$borderBlock: #B8FFEC;
$borderTopBlock: #D9FFF5;
$borderLeftBlock: #41F6D7;
$borderBottomTable: #EAEAEA;

$bgLongBtn: #FF3E79;

$padding320px: 24px 16px;
$padding768px: 24px;
$padding1440px: 30px;

